---
import Layout from "../layouts/Layout.astro"
import HeroBanner from "../components/HeroBanner.astro"
---

<Layout title="Zuker Building">
	<main class="h-dvh flex flex-col items-center justify-center">
		<h1 class="flex text-3xl font-bold text-red-900">Gallery Coming Soon!</h1>
	</main>
</Layout>
