---
import HeroBanner from "../components/HeroBanner.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Zuker Building">
	<main>
		<HeroBanner title="Zuker Building" subTitle="Coming Soon" />
	</main>
</Layout>
