---
import Contact from "../components/Contact.astro"
import HeroBanner from "../components/HeroBanner.astro"
import QuickAbout from "../components/QuickAbout.astro"
import Layout from "../layouts/Layout.astro"
import StepCard from "../components/StepCard.astro"

import { client } from "../../tina/__generated__/client"
import ServicesIntro from "../components/ServicesIntro.astro"
import Testimonials from "../components/Testimonials.astro"
import RecentProject from "../components/RecentProject.astro"

const homeData = await client.queries.pages({
	relativePath: "home.json",
})

const quickAboutData = homeData?.data?.pages?.blocks?.filter(
	(block) => block?.__typename === "PagesBlocksQuickAbout",
)[0]
const servicesData = homeData?.data?.pages?.blocks?.filter(
	(block) => block?.__typename === "PagesBlocksServicesIntro",
)[0]

const testimonialsData = homeData?.data?.pages?.blocks?.filter(
	(block) => block?.__typename === "PagesBlocksTestimonials",
)[0]

const recentProjectData = homeData?.data?.pages?.blocks?.filter(
	(block) => block?.__typename === "PagesBlocksRecentProject",
)[0]
---

<Layout title="Zuker Building">
	<main class="h-dvh flex flex-col items-center">
		<HeroBanner />
	</main>
	<Contact />
	<div>
		<h2 class="text-4xl text-slate-800 text-center pt-8 pb-8">Our Process</h2>
	</div>
	<div
		class="flex flex-wrap flex-col sm:flex-row items-center justify-evenly pt-8 pb-8"
	>
		<!-- map through cards here -->
		<StepCard
			title="Set it up"
			body="Give us a call or fill out the form to schedule a consultation."
			stepNumber={1}
			image="../../public/3d Transparent.png"
		/>
		<StepCard
			title="Appointment"
			body="We'll come to your home to take measurements and discuss your project."
			stepNumber={2}
			image="../../public/3d Transparent.png"
		/>
		<StepCard
			title="Proposal"
			body="We'll review the proposal and project details with you."
			stepNumber={3}
			image="../../public/3d Transparent.png"
		/>
		<StepCard
			title="Project Start!"
			body="We'll set the start date and get to work!"
			stepNumber={4}
			image="../../public/3d Transparent.png"
		/>
	</div>
	<QuickAbout
		title={quickAboutData?.quickAboutTitle as string}
		description={quickAboutData?.quickAboutDescription as string}
		image={quickAboutData?.quickAboutImage as string}
	/>
	<ServicesIntro
		heading={servicesData?.heading as string}
		services={servicesData?.services as []}
	/>
	<Testimonials
		testimonials={testimonialsData?.testimonials as []}
		heading={testimonialsData?.heading as string}
	/>
	<RecentProject
		heading={recentProjectData?.heading as string}
		description={recentProjectData?.recentProjectDescription as string}
		preImage={recentProjectData?.preImage as string}
		postImage={recentProjectData?.postImage as string}
	/>
</Layout>
