---
import Contact from "../components/Contact.astro"
import HeroBanner from "../components/HeroBanner.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Zuker Building">
	<main class="h-dvh flex flex-col items-center">
		<HeroBanner title="" subTitle="Coming Soon" />
	</main>
	<Contact />
</Layout>
