---
import Contact from "../components/Contact.astro"
import HeroBanner from "../components/HeroBanner.astro"
import QuickAbout from "../components/QuickAbout.astro"
import Layout from "../layouts/Layout.astro"

import { client } from "../../tina/__generated__/client"
import ServicesIntro from "../components/ServicesIntro.astro"
import Testimonials from "../components/Testimonials.astro"
import RecentProject from "../components/RecentProject.astro"

const homeData = await client.queries.pages({
	relativePath: "home.json",
})

const quickAboutData = homeData?.data?.pages?.blocks?.filter(
	(block) => block?.__typename === "PagesBlocksQuickAbout",
)[0]
const servicesData = homeData?.data?.pages?.blocks?.filter(
	(block) => block?.__typename === "PagesBlocksServicesIntro",
)[0]

const testimonialsData = homeData?.data?.pages?.blocks?.filter(
	(block) => block?.__typename === "PagesBlocksTestimonials",
)[0]
---

<Layout title="Zuker Building">
	<main class="h-dvh flex flex-col items-center">
		<HeroBanner />
	</main>
	<Contact />
	<QuickAbout
		title={quickAboutData?.quickAboutTitle as string}
		description={quickAboutData?.quickAboutDescription as string}
		image={quickAboutData?.quickAboutImage as string}
	/>
	<ServicesIntro
		heading={servicesData?.heading as string}
		services={servicesData?.services as []}
	/>
	<Testimonials
		testimonials={testimonialsData?.testimonials as []}
		heading={testimonialsData?.heading as string}
		subHeading={testimonialsData?.subHeading as string}
	/>
	<RecentProject
		heading={"Most Recent Project"}
		description=""
		preImage={}
		postImage={}
	/>
</Layout>
