---

---

<div
	id="contact-wrapper"
	aria-label="Contact Us"
	class="flex flex-col justify-evenly items-center w-full mb-10 mt-10"
>
	<div
		class="sm:w-1/2 flex text-slate-200 flex-col justify-evenly items-center border-2 border-slate-300 rounded-xl p-4 bg-slate-500 shadow-2xl"
	>
		<h1 class="text-3xl mb-2">Contact Us</h1>
		<p class="mb-4 w-3/4">
			Fill out the form below to contact us. We will get back to you as soon as
			possible.
		</p>
		<form
			id="contact-form"
			class="flex flex-col items-start justify-evenly w-full sm:w-3/4"
		>
			<label for="name">Name:</label>
			<input
				class="block pl-2 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
				id="name"
				name="name"
				required
				minlength="3"
				placeholder="John Doe"
			/>
			<label for="phone">Phone Number:</label>
			<input
				class="block pl-2 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
				type="tel"
				id="phone"
				name="phone"
				required
				pattern="^[0-9]*$"
				minlength="10"
				maxlength="10"
				placeholder="1234567890"
			/>
			<label for="email">Email Address:</label>
			<input
				class="block pl-2 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
				type="email"
				id="email"
				name="email"
				required
				placeholder="you@example.com"
			/>
			<label for="city">City:</label>
			<input
				class="block pl-2 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
				type="text"
				id="city"
				name="city"
				required
				placeholder="Your City"
			/>
			<label for="description">Description:</label>
			<textarea
				class="block mb-4 pl-2 w-full h-32 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
				id="description"
				name="description"
				required
				placeholder="Please describe your project here."></textarea>

			<button
				class="rounded-md w-full px-3.5 py-2.5 text-sm font-semibold text-slate-600 shadow-sm bg-slate-100 hover:bg-slate-400 hover:text-slate-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
				type="submit"
				value="Send">Submit</button
			>
		</form>
	</div>
</div>
