---
interface Props {
	title: string
	description: string
	image: string
}

import { addBreak } from "../utils"

const { title, description, image } = Astro.props
const descriptionWithBreaks = addBreak(description)
---

<div
	class="flex flex-wrap flex-col sm:flex-row w-full p-2 sm:p-4 h-auto bg-zinc-300"
>
	<div
		class="flex flex-col p-2 sm:p-5 h-auto sm:w-1/2 items-center justify-evenly"
	>
		<h2 class="text-2xl text-center font-bold mb-4">{title}</h2>
		<div set:html={descriptionWithBreaks} class="text-gray-500" />
	</div>
	<div class="flex items-center justify-center h-auto sm:w-1/2">
		<img src={image} alt={title} class="h-auto w-full" />
	</div>
</div>
