---
interface Props {
	title: string
	description: string
	image: string
}

import { addBreak } from "../utils"

const { title, description, image } = Astro.props
const descriptionWithBreaks = addBreak(description)
---

<div
	aria-label="About Section"
	class="flex flex-wrap flex-col sm:flex-row w-full p-2 sm:p-4 h-auto bg-zinc-300"
>
	<h2 class="text-2xl w-full text-center font-bold mt-4 mb-4">{title}</h2>
	<div class="flex flex-col sm:flex-row w-full h-auto">
		<div
			class="flex flex-col p-2 sm:p-5 h-auto sm:w-1/2 items-center justify-evenly"
		>
			<div
				set:html={descriptionWithBreaks}
				class="text-gray-700 text-md sm:text-lg"
			/>
		</div>
		<div class="flex items-center justify-center h-full sm:w-1/2">
			<img src={image} alt={title} class="rounded-lg" />
		</div>
	</div>
</div>
