---
import NavBar from "./navbar/NavBar.astro"
import Footer from "./footer/Footer.astro"

interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script
			type="text/javascript"
			src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"
		></script>
		<script type="text/javascript" src="/scripts/email.js"></script>
	</head>
	<body>
		<NavBar />
		<slot />
		<Footer />
	</body>
</html>
